@font-face {
    font-family: 'zeroes_1regular';
    src: url('../fonts/zeroes_one-webfont.woff2') format('woff2'),
         url('../fonts/zeroes_one-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zeroes_3regular';
    src: url('../fonts/zeroes_three-webfont.woff2') format('woff2'),
         url('../fonts/zeroes_three-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zeroes_2regular';
    src: url('../fonts/zeroes_two-webfont.woff2') format('woff2'),
         url('../fonts/zeroes_two-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-title-1:'zeroes_1regular';
$font-title-2:'zeroes_2regular';
$font-title-3:'zeroes_3regular';

.title-zero-1 {
	font-family: $font-title-1;
}

.title-zero-2 {
	font-family: $font-title-1;
}

.title-zero-3 {
	font-family: $font-title-1;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
	background-color: #e6e7e8;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #282828;
}

body.home {
	background-color: #fafafa;
}

body.body-white {
	background-color: #fff;
}

.bg_video{
	// position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(../images/video/bg-video.png) no-repeat;
	background-size: cover; 
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// Botões
.button-rounded {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;

	padding: 0.450rem 1.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;

	font-family: $font-title-1;
	text-transform: uppercase;

	&.outline {
		border: solid 3px #282828; 
		border-radius: 20px;
		color: #282828;
	}
}

