.sobre {
	header {
		background-color: #000;
		border-top: solid 8px #d2ae6d;
		.logo-escuro {
			display: block;
			@media (max-width: 768px) {
				margin: 0 auto;
			}
		}
		.logo-claro {
			display: none;
		}
		nav.menu {
			ul {
				li {
					a {
						color: #fefefe;
					}
				}
			}
		}
		.social-media-header {
			ul {
				li {
					a {
						color: #fefefe;
					}
				}
			}
		}
		.btn-menu-mobile {
			@media (max-width: 768px) {
				color: #fff;
			}
		}
	}
	h1 {
		font-family: $font-title-1;
		font-size: 36px;
		margin-bottom: 50px;
		@media (max-width: 550px) {
			margin-bottom: 20px;
		}
	}
	.detalhe-top {
		position: relative;
		padding-bottom: 50px;
		@media (max-width: 550px) {
			padding-bottom: 140px;
		}
		&:before {
			position: absolute;
			z-index: 5;
			background-image: url(../images/before-about.png);
			content: '';
			bottom: -285px;
			left: 0;
			width: 100%;
			height: 320px;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			@media (max-width: 550px) {
				display: none; 
				opacity: 0;
			}
		}
	}
	.bg-about {
		position: relative; 
		height: 1000px;
		@media (max-width: 550px) {
			display: none; 
			opacity: 0;
		}
		&:before {
			background-image: url(../images/bond.png);
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 1;
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			top: 0;
			left: 0;
		}
	}
	.valores {
		background-color: #c6a260;
		padding: 50px 0 100px 0;
		position: relative;
		@media (max-width: 550px) {
			padding-bottom: 30px;
		}
		&:before {
			position: absolute;
			background-image: url(../images/about-after.png);
			content: '';
			top: -200px;
			left: 0;
			width: 100%;
			height: 320px;
			z-index: 0;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			@media (max-width: 550px) {
				background-position: center;
			}
		}
		img {
			margin-bottom: 20px;
		}
		h3 {
			font-family: $font-title-1;
			font-size: 45px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		.detalhe-missao {
			position: relative; 
			&:before {
				position: absolute;
				background-image: url(../images/detalhe-missao.png);
				content: '';
				top: -15px;
				right: -34px;
				width: 60%;
				height: 60%;
				display: block;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}
