footer {
	background-color: #000;
	background-image: url(../images/bg-footer.png);
	padding: 40px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;

	.endereco-footer {
		color: #fff;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 14px;
		text-align: right;
		span {
			color: $primary-yellow;
		}
	}

	.social-media-footer {
		ul {
			margin: 0; 
			padding: 0; 
			list-style: none;
			li {
				display: inline-block;
				a {
					background-color: $primary-yellow; 
					color: #000;
					display: inline-block;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					margin-right: 10px;
					font-size: 26px;
					text-align: center;
					line-height: 45px;
					border: solid 2px $primary-yellow; 
					-webkit-transition: all 0.3s ease-out; 
					        transition: all 0.3s ease-out; 
					&:hover {
						color: $primary-yellow; 
						background-color: transparent;
					}
				}
			}
		}

	}
}

@media (max-width: 650px){
	.mb-20-m {
		margin-bottom: 20px;
	}
}
